<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="#" layout:decorator="layout">

<head>

    <link rel="stylesheet" th:href="@{/assets/css/layout.css}"/>
    <link rel="stylesheet" href="../../static/assets/css/layout.css"/>
    <meta charset="UTF-8"/>
    <title>SAE - Einheiten auflisten</title>

    <!-- MATERIALIZE SCRIPT -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>

    <!-- MATERIALIZE CUSTOM STYLE -->
    <link rel="stylesheet" th:href="@{/css/materialize.min.css}"/>


</head>
<header>
    <div class="topnav">
        <table>
            <th>
                <a href="../../../"> <img class="logo-img" alt="logo"
                                          src="../static/assets/images/icon/logo.svg"
                                          th:src="@{/assets/images/icon/logo.svg}"/></a>
            </th>
            <a th:href="@{/logout}" href="logout" class="logoutBtn">Logout</a>
            <th>
                <a href="index.html" onClick="Javascript:history.back();return(false);" class="back_btn">⯇</a>
            </th>
        </table>
    </div>
</header>

<body>
<div layout:fragment="content" class="contentPosition" >

    <main class="cd-main-content-home" style="padding: 15px 15px 15px 15px !important">
        <fieldset class="edit">
            <legend>Alle Räume</legend>
            <div class="card material-table">
                <div class="table-header">
                    <div>
                        <a th:href="@{/unit/add}" class="add">Raum hinzufügen</a>
                    </div>
                </div>
                <div class="table-responsive">
                    <table style="border-spacing: 30px 10px;text-align: left;">
                        <thead>
                        <tr>
                            <th style="color:#ffffff !important"></th>
                            <th style="color:#ffffff !important"></th>
                            <th>Raumnummer</th>
                            <th>Arbeitsplatz Anzahl</th>
                            <th>Bemerkung</th>
                            
                        <tr th:each="u : ${units}">
                            <td th:utext="${u.get(0)}"></td>
                            <td th:utext="${u.get(1)}"></td>
                            <td th:utext="${u.get(2)}"></td>
                            <td th:utext="${u.get(3)}"></td>
                            <td th:utext="${u.get(4)}"></td>
                            
                        </tr>

                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </fieldset>
    </main>

</div>
</body>

</html>