<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="#" layout:decorator="layout">

<head>
    <link rel="stylesheet" th:href="@{/assets/css/layout.css}"/>
    <script  type="text/javascript" th:src="@{/assets/js/layout.js}"> </script>
    <meta charset="UTF-8"/>
    <title>SAE - List accounts</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>

    <link rel="stylesheet" th:href="@{/css/materialize.min.css}"/>

</head>
<header>
    <div class="topnav">
        <table>
            <th>
                <a href="../../../"> <img class="logo-img" alt="logo"
                                          src="../static/assets/images/icon/logo.svg"
                                          th:src="@{/assets/images/icon/logo.svg}"/></a>
            </th>
            <a th:href="@{/logout}" href="logout" class="logoutBtn">Logout</a>
            <th>
                <a href="index.html" onClick="Javascript:history.back();return(false);" class="back_btn">⯇</a>
            </th>
        </table>
    </div>
</header>

<body>
<div layout:fragment="content" class="contentPosition">
    <header class="cd-header-main-home"
            style="background: url(../assets/img-bg-users.svg) no-repeat 0 0; background-position: center center !important"></header>

    <main class="cd-main-content-home" style="padding: 15px 15px 15px 15px !important">
        <!-- <h1 style="font-weight:bold">User List</h1> -->
        <!-- <div class="container"> -->
        <fieldset class="edit">
            <legend>Alle Accounts</legend>
            <div>
                <div>
                    <div>
                            <a th:href="@{/account/register}" class="add">Account hinzufügen</a>
                    </div>
                    <div>
                        <table style="border-spacing: 30px 10px;text-align: left;">
                            <thead>
                            <tr>

                                <th style="color:#ffffff !important"></th>
                                <th style="color:#ffffff !important"></th>
                                <th> Benutzername</th>
                                <th>Vorname</th>
                                <th>Nachname</th>
                                <th>Letzter Login</th>
                                <th>Rolle</th>
                                <th>Projekt</th>
                                <th>Projektleiter</th>
                                <th>Bookings</th>

						</tr>
                            <tr th:each="a : ${accounts}">
                                <td th:utext="${a.get(0)}"></td>
                                <td th:utext="${a.get(1)}"></td>
                                <td th:text="${a.get(2)}"></td>
                                <td th:text="${a.get(3)}"></td>
                                <td th:text="${a.get(4)}"></td>
                                <td th:text="${a.get(5)}"></td>
                                <td th:text="${a.get(6)}"></td>
                                <td th:text="${a.get(7)}"></td>
                                <td th:text="${a.get(8)}"></td>
                                <td th:text="${a.get(9)}"></td>
                           </tr>

                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </fieldset>
    </main>
</div>
</body>

</html>