<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="#" layout:decorator="layout">

<head>
    <link rel="stylesheet" th:href="@{/assets/css/layout.css}"/>
    <link rel="stylesheet" href="../../static/assets/css/layout.css"/>
    <meta charset="UTF-8"/>
    <title>SAE - Tisch erstellen</title>
</head>
<header>
    <div class="topnav">
        <table>
            <th>
                <a href="../../../"> <img class="logo-img" alt="logo"
                                          src="../static/assets/images/icon/logo.svg"
                                          th:src="@{/assets/images/icon/logo.svg}"/></a>
            </th>
            <a th:href="@{/logout}" href="logout" class="logoutBtn">Logout</a>
            <th>
                <a href="index.html" onClick="Javascript:history.back();return(false);" class="back_btn">⯇</a>
            </th>
        </table>
    </div>
</header>
<body>
<div layout:fragment="content" class="contentPosition">
    <form class="cd-form floating-labels" th:action="@{/room/add}" th:object="${table}" action="/room/add"
          method="post">

        <fieldset class="edit">
            <legend>Arbeitsplatz hinzufügen</legend>
            <div>
                <a th:href="@{/room/list}" class="add">Alle Arbeitsplätze</a>
            </div>

            <table style="text-align: left;">

                <div class="icon">
                    <tr>
                        <th>
                            <label class="cd-label" for="cd-name">Arbeitsplatz</label>
                        </th>
                        <th>
                            <input class="edit_input" type="text" name="cd-name" id="cd-name" th:field="*{name}"
                                   required="required"/>
                           <span title="Arbeitsplatz name eingeben z.B. 5.001-001. Max. 10 Zeichen." style="border-bottom: 1px dotted">      
                           <img class="info-img" alt="logo" src="../static/assets/images/icon/info.png" th:src="@{/assets/images/icon/info.png}" /></span>
                        </th>
                    </tr>
                    <p> </p>
                </div>
                <tr>
                    <th>
                    <label class="cd-label" for="cd-name">Position</label>
					</th>
                    <th>
                        
                            <select class="budget" th:field="*{position}">
                                <option disabled="true" selected="selected" value="${position}"></option>
                                <option value="Fenster-Rechts">Fenster-Rechts</option>
                                <option value="Fenster-Links">Fenster-Links</option>
                                <option value="Tuer-Links">Tuer-Rechts</option>
                                <option value="Tuer-Links">Tuer-Links</option>

                            </select>
                            
                           <span title="Position des Arbeitsplatzes auswählen." style="border-bottom: 1px dotted">      
                           <img class="info-img" alt="logo" src="../static/assets/images/icon/info.png" th:src="@{/assets/images/icon/info.png}" /></span>
                       
                    </th>
                </tr>
                <p> </p>
				<tr>
                <div>
					<th>
                     <label class="cd-label" for="cd-name">Raum</label>
					</th>
					<th>
                        	<select class="budget" th:field="*{unit.id}" sec:authorize="hasRole('ROLE_ADMIN')">
                            <option th:each="u: ${unitList}" th:value="${u.id}" th:text="${u.name}"></option>
                        	</select>
                        
                           <span title="Raum auswählen indem der Arbeitsplatz stehen soll." style="border-bottom: 1px dotted">      
                           <img class="info-img" alt="logo" src="../static/assets/images/icon/info.png" th:src="@{/assets/images/icon/info.png}" /></span>
                   
					</th>
					<p> </p>
                </div>
				</tr>
				<p> </p>
            </table>
            <div style="padding-top: 10px">
                <input class="btn_general" type="submit" value="Erstellen"/>
            </div>

        </fieldset>

        <div class="success-message-ed" th:if="${#httpServletRequest.getParameter('updated')}">
            <p>Arbeitsplatz wurder hinzugefügt</p>
        </div>

        <div class="error-message-ed" th:if="${#httpServletRequest.getParameter('error')}">
            <p>Arbeitsplatz existiert bereits</p>
        </div>


    </form>

    </li>

    </ul> <!-- cd-tabs-content -->

</div> <!-- cd-tabs -->

</div>

</body>
</html>